body {
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

.title {
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 700;
    color: #5d4037;
    text-align: center;
}

p {
    line-height: 1.5em;
}

h1+p,
p+p {
    margin-top: 10px;
}